body { background: #45e042; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 57px; display: flex; }
.block-logger-0 { color: #1475a6; font-size: 13px; margin-bottom: 5px; }
.block-cart-1 { color: #950350; font-size: 18px; margin-bottom: 5px; }
.block-payment-2 { color: #3830aa; font-size: 18px; margin-bottom: 5px; }
.block-product-3 { color: #b8edd1; font-size: 18px; margin-bottom: 5px; }
.block-shipping-4 { color: #5edccd; font-size: 20px; margin-bottom: 5px; }
.block-logger-5 { color: #813557; font-size: 17px; margin-bottom: 5px; }